body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  font-size: 15px;
}

.card {
  background-color: hsl(0, 0%, 100%);
  width: 320px;
  height: 510px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  box-shadow: 10px 10px 10px hsl(212, 45%, 85%);
}

.qr {
  border-radius: 1rem;
  width: 290px;
  margin-left: 15px;
  margin-top: 15px;
}

h2 {
  text-align: center;
  color: hsl(218, 44%, 22%);
  width: 280px;
  margin-left: 20px;
  margin-top: 25px;
}

p {
  text-align: center;
  color: hsl(220, 15%, 55%);
  width: 280px;
  margin-left: 20px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 100%;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
